{% load static %}
{% load mathfilters %}
{% for caldera in object_list %}
  <tr>
    <th scope="row">
      {% if page_obj.has_previous %}
      {{ 10|mul:page_obj.previous_page_number|add:forloop.counter }}
      {% else %}
      {{ forloop.counter }}
      {% endif %}
    </th>
    <td>{{caldera.tag}}</td>
    <td>{{caldera.planta}}</td>
    <td>{{caldera.planta.complejo}}</td>
    <td>{{caldera.descripcion}}</td>
    <td>
      {% if request.user.is_superuser or caldera.planta.pk in permisos.evaluaciones %}
      <a class="btn btn-danger" href="{% url 'evaluaciones_caldera' pk=caldera.pk %}"><img width="25px" src="{% static 'img/iconos/simulacion.png' %}" alt="Ir a la pantalla de Evaluaciones"></a>
      {% endif %}
    </td>
    <td>
        {% include 'calderas/partials/ficha.html' %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ficha_{{caldera.pk}}"><img width="25px" src="{% static 'img/iconos/ficha.png' %}" alt="Mostrar ficha técnica"></button>
    </td>
  </tr>
{% endfor %}