{% load static %}
{% load mathfilters %}
{% for ventilador in object_list %}
  <tr>
    <th scope="row">
      {% if page_obj.has_previous %}
      {{ 10|mul:page_obj.previous_page_number|add:forloop.counter }}
      {% else %}
      {{ forloop.counter }}
      {% endif %}
    </th>
    <td>{{ventilador.tag}}</td>
    <td>{{ventilador.planta}}</td>
    <td>{{ventilador.planta.complejo}}</td>
    <td>{{ventilador.descripcion}}</td>
    <td>
      {% if request.user.is_superuser or ventilador.planta.pk in permisos.evaluaciones %}
      <a class="btn btn-danger" href="{% url 'evaluaciones_ventilador' pk=ventilador.pk %}"><img width="25px" src="{% static 'img/iconos/simulacion.png' %}" alt="Ir a la pantalla de Evaluaciones"></a>
      {% endif %}
    </td>
    <td>
      {% include 'ventiladores/ficha.html' %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ficha_{{ventilador.pk}}"><img width="25px" src="{% static 'img/iconos/ficha.png' %}" alt="Mostrar ficha técnica"></a>
    </td>
  </tr>
{% endfor %}