{% extends 'base_consultas.html' %}
{% load static %}
{% load templatetags %}

{% block encabezado %}
  <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-center h-100"><a class="btn d-block btn-secondary" href="{% url 'bienvenida' %}">↶ Regresar</a></div>
  <div class="col-md-6 col-lg-8"><h3 class="text-center" style="color: #e31e24;">Plantas Registradas en el SIEVEP</h3></div>
  <div class="col-md-3 col-lg-2 d-flex justify-content-center align-items-center h-100">
    <a class="btn d-block btn-success" href="{% url 'creacion_planta' %}">+ Nueva Planta</a>
  </div>
{% endblock %}

{% block formulario_filtrado %}
<div class="d-flex flex-column col">
  <label class="form-label" for="nombre_planta">Nombre de la Planta:</label>
  <input type="text" name="nombre_planta" id="nombre_planta" maxlength="20" class="form-control" value="{{nombre_planta}}" placeholder="Filtrar por Nombre de Planta">
</div>
<div class="d-flex flex-column col">
    <label class="form-label" for="complejo">Complejo:</label>
    <select name="complejo" id="complejo" class="form-select seleccion-filtrado">
        <option value="">
            ----------------------------
        </option>
        {% for complejo in complejos %}
        <option value="{{complejo.pk}}" {% if complejo.pk|slugify == complejo_pk|slugify %}selected{% endif %}>{{complejo}}</option>
        {% endfor %}
    </select>
</div>
<input type=submit hidden>
{% endblock %}

{% block tabla %}
<thead class="text-center">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Planta</th>
    <th scope="col">Complejo</th>
    <th scope="col">Acciones</th>
  </tr>
</thead>
<tbody class="text-center" id="tabla-body">
  {% include 'plantas/tabla.html' %}
  {% if not object_list.count %}
  <td colspan="7">No se encontraron intercambiadores con los datos de filtrado proporcionados.</td>
  {% endif %}
</tbody>
{% endblock %}

{% block opciones %}
<footer aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link bg-dark text-white" href="?{% url_replace page=page_obj.previous_page_number %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
      </li>
      <li class="page-item"><a class="page-link bg-dark text-white" href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link bg-dark text-white" href="?{% url_replace page=page_obj.next_page_number %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
</footer>
{% endblock %}

{% block extra_javascript %}
<script>
  $('select').change(() => {
    $('#filtrado').submit();
  });
  $('input').keyup((e) => {
    if(e.keyCode === 13)
      $('#filtrado').submit();
  });
</script>
{% endblock %}