{% extends 'base.html' %}
{% load static %}

{% block head %}
 <link rel="stylesheet" href="{% static 'css/bienvenida/index.css' %}">
{% endblock %}

{% block contenido %}
<div class="h-100 row g-5">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'img/logo.png' %}" width="auto" style="max-width: 500px;" alt="Logo de Pequiven" id="logo_principal">
            <hr style="width: 100%;">
            <img src="{% static 'img/logo_indesca.svg' %}" width="auto" style="max-width: 500px;" height="80px" alt="Logo de Pequiven" id="logo_principal">
            <hr style="width: 100%;">
            <h2 class="text-center" style="color: #e31e24;">SIEVEP</h2>
            <h5 class="text-center" style="color: #e31e24;">Sistema Integrado de Evaluación de Equipos de Procesos</h5>
        </div>
    </div>

    <div class="col-8">
        <a href="{% url 'seleccion_tipo_intercambiador' %}" style="text-decoration: none; color: black;">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-5 d-flex align-items-center">
                        <img height="220px" src="{% static 'img/bienvenida/intercambiadores.jpg' %}" class="card-img" alt="Intercambiadores de Calor" style="max-height: 16vh;">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <div class="card-body">
                        <h3 class="card-title">Intercambiadores de Calor</h5>
                        <p class="card-text">Opciones de evaluación de intercambiadores de calor por tipo, para cálculos de eficiencia y ensuciamiento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'consulta_calderas' %}?page=1" style="text-decoration: none; color: black;">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-5 d-flex align-items-center">
                        <img height="220px" src="{% static 'img/bienvenida/calderas.jpg' %}" class="card-img" alt="Calderas" style="max-height: 16vh;">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <div class="card-body">
                        <h3 class="card-title">Calderas</h5>
                        <p class="card-text">Consulta de especificaciones de las calderas y opciones de evaluación de las mismas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'seleccion_equipo' %}" style="text-decoration: none; color: black;">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-5 d-flex align-items-center">
                        <img height="220px" src="{% static 'img/bienvenida/auxiliares.jpg' %}" class="card-img" alt="Equipos auxiliares de calderas" style="max-height: 16vh;">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <div class="card-body">
                        <h3 class="card-title">Equipos Auxiliares</h5>
                        <p class="card-text">Opciones de consulta de especificaciones técnicas y registro de evaluación para los equipos auxiliares encontrados en las plantas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'consulta_turbinas_vapor' %}" style="text-decoration: none; color: black;">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-5 d-flex align-items-center">
                        <img height="220px" src="{% static 'img/bienvenida/turbinas.jpg' %}" class="card-img" alt="Turbinas de vapor" style="max-height: 16vh;">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <div class="card-body">
                        <h3 class="card-title">Turbinas de Vapor</h5>
                        <p class="card-text">Opciones de evaluación para las turbinas de vapor encontradas en las plantas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'consulta_compresores' %}" style="text-decoration: none; color: black;">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-5 d-flex align-items-center">
                        <img height="220px" src="{% static 'img/bienvenida/compresor.jpg' %}" class="card-img" alt="Compresores" style="max-height: 16vh;">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <div class="card-body">
                        <h3 class="card-title">Compresores</h5>
                        <p class="card-text">Opciones de consulta de ficha y registro de evaluación para los compresores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}