<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    <span id="year"></span>
    <a class="text-dark" href="https://indesca.com/" target="_blank">INVESTIGACIÓN Y DESARROLLO, C.A.</a>
    y
    <a class="text-dark" href="https://www.pequiven.com/" target="_blank">PETROQUÍMICA DE VENEZUELA, S.A.</a>
  </div>
</footer>

<script>
  document.querySelector('#year').innerHTML = `&copy; ${new Date().getFullYear()}:`;
</script>