{% extends 'base.html' %}
{% load static %}

{% block head %}
 <link rel="stylesheet" href="{% static 'css/bienvenida/index.css' %}">
{% endblock %}

{% block contenido %}
<div class="h-100 row mb-3">
    <div class="mb-2 col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center" style="color: #e31e24;">Módulo de Equipos Auxiliares</h2>
        <hr style="width: 100%;">
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="row g-4">
                <div class="col-1"></div>
                <div class="col-5">
                    <a href="{% url 'consulta_bombas' %}?page=1" class="sin_decoracion">
                        <div class="card">
                            <img style="max-height: 30vh;" src="{% static 'img/equipos_aux/bomba_centrifuga.png' %}" class="card-img-top" alt="Bomba Centrífuga">
                            <div class="card-body">
                                <hr>
                            <h5 class="card-title text-center">Bombas Centrífugas</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-5">
                    <a href="{% url 'consulta_precalentadores_agua' %}" class="sin_decoracion">
                        <div class="card">
                            <img style="max-height: 30vh;" src="{% static 'img/equipos_aux/prec_agua.png' %}" class="card-img-top" alt="Precalentador de Agua">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title text-center">Precalentadores de Agua</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-1"></div>

                <div class="col-1"></div>
                <div class="col-5">
                    <a href="{% url 'consulta_precalentador_aire' %}" class="sin_decoracion">
                        <div class="card">
                            <img style="max-height: 30vh;" src="{% static 'img/equipos_aux/prec_aire.png' %}" class="card-img-top" alt="Precalentador de Aire">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title text-center">Precalentadores de Aire</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-5">
                    <a href="{% url 'consulta_ventiladores' %}" class="sin_decoracion">
                        <div class="card">
                            <img style="max-height: 30vh;" src="{% static 'img/equipos_aux/ventilador.png' %}" class="card-img-top" alt="ventilador">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title text-center">Ventiladores</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}